EventBusService/obj/Debug/net8.0/EventBusService.AssemblyInfo.cs
EventBusService/obj/Debug/net8.0/EventBusService.csproj.AssemblyReference.cache
EventBusService/obj/Release/net8.0/EventBusService.AssemblyInfo.cs
EventBusService/obj/Release/net8.0/EventBusService.AssemblyInfoInputs.cache
EventBusService/obj/Release/net8.0/EventBusService.csproj.AssemblyReference.cache
EventBusService/obj/Release/net8.0/rpswa.dswa.cache.json
